---
layout: default
---
{% capture category_style %}
{% for category in site.training_category %}
#domains .domains #{{ category.id }} h2 {
    background-color: {{ category.color }};
}

#domains .domains #{{ category.id }} .trainings:before {
    border-left-color: {{ category.color }};
}

#domains .domains #{{ category.id }} .trainings li a:hover {
    color: {{ category.color }};
}

#domains .domains #{{ category.id }} .trainings span.label {
    background-color: {{ category.color }};
}
{% endfor %}
{% endcapture%}

<div style="display: none;">
    <style type="text/css">
    {{ category_style }}
    </style>
</div>
<div id="home">
    <section id="fresh-courses-and-quotes">
        <div>
            <div class="courses">
              <div class="start-now">
                <div><a href="#domains">Start Now</a></div>
                <div class="catch-phrase">
                  With great training comes great possibilities
                </div>
            </div>


            </div>
            <div class="quotes">
                <ul>
                    <li class="">
                        <div class="caption">
                            <blockquote>Nowadays, humans produce each year a volume of digital information equivalent to a zettabite. It's almost as much as the number of stars in the Universe</blockquote><cite>IDC</cite></div>
                    </li>
                    <li class="">
                        <div class="caption">
                            <blockquote>The only lasting competitive benefit is the ability to learn quicker than competition</blockquote><cite>Arie de Geus</cite></div>
                    </li>
                    <li class="current">
                        <div class="caption">
                            <blockquote>Every second day, we produce as much data as what was produced from the dawn of civilisation until 2003</blockquote><cite>Eric Schmidt, CEO Google</cite></div>
                    </li>
                    <li class="">
                        <div class="caption">
                            <blockquote>Knowledge is worthless when not put into practice</blockquote><cite>Heber J. Grant</cite></div>
                    </li>
                    <li class="">
                        <div class="caption">
                            <blockquote>People Who Feel Good About Themselves Produce Good Results</blockquote><cite>The One Minute Manager</cite></div>
                    </li>
                    <li class="">
                        <div class="caption">
                            <blockquote>We will make it in this world only thanks to our ability to learn</blockquote><cite>John B. Watson</cite></div>
                    </li>
                    <li class="">
                        <div class="caption">
                            <blockquote>The essence of knowledge is, once it's aquired, to use it.</blockquote><cite>Confucius</cite></div>

                    </li>
                    <li class="">
                        <div class="caption">
                            <blockquote><a data-analytics-action="click" data-analytics-category="quotes" href="http://www.octo.academy/fr/m/4">People’s behavior makes sense if you think about it in terms of their goals, needs, and motives</a></blockquote><cite>Thomas Mann</cite></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div id="domains">
      <div class="domains">

          {% for category in site.training_category %}
            {% capture modulo %}{{ forloop.index0 | mod:3 }}{% endcapture %}
            {% if forloop.first %}
              <div class="has-3">
              {% endif %}
                <section id="{{ category.id }}">
                    <h2>{{ category.name }} </h2>
                    <ul class="trainings">
                      {% assign training_in_cat = site.training | where: "category", category.id | sort: 'best', 'last' %}
                      {% for training in training_in_cat %}
                      <li>
                        <a title="{{ training.title }}" href="{{ site.baseurl }}{{ training.url }}">
                          <span></span>
                          {% if training.best %} <span class="label">BEST</span> {% endif %}
                          {{ training.title }}
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                    {% if category.sub_category %}
                    <ul class="domains">
                      {% for sub_category in category.sub_category %}
                      <li>
                        <h3>
                          {{ sub_category.name }}
                        </h3>
                        <ul class="trainings">
                          {% assign training_in_cat = site.training | where: "category", sub_category.id | sort: 'best', 'last' %}
                          {% for training in training_in_cat %}
                          <li>
                            <a title="{{ training.title }}" href="{{ site.baseurl }}{{ training.url }}">
                              <span></span>
                              {% if training.best %} <span class="label">BEST</span> {% endif %}
                              {{ training.title }}
                            </a>
                          </li>
                          {% endfor %}
                        </ul>

                      </li>
                      {% endfor %}
                    </ul>
                    {% endif %}


                </section>
              {% if forloop.last %}
              </div>
            {% elsif modulo == 0 %}
              </div>
              <div class="has-3">
            {% endif %}

          {% endfor %}
      </div>
    </div>

    <section id="offers">
        <div>
            <article id="seminars">
                <header>
                    <h2>
                      <span>Get to <br> know us</span>
                    </h2>
                </header>
                <h3 class="subheader">IT Consulting and Outstanding Software</h3>
                <p>
                  OCTO Technology is an IT consulting company created in France in 1998. Our consultants assist our clients in the digital transformation of their businesses through technology, methodology, but also by deeply understanding their culture and the stakes of their business.
                  From startups to multinationals, OCTO gets involved wherever IT plays a decisive role in transforming companies and their people.
                </p>
                <p>
                  Our culture is made of an optimal balance between technology and interpersonal skills. It’s our culture that made OCTO being voted the Best place Place to work for 5 years in a row in France. OCTO Technology arrived in Australia in 2015 to expand and share this culture and expertise down under. Let us share our culture with you !
                </p>
            </article>
            <article id="practical_trainings">
                <header>
                    <h2>
                      <span>Why <br>us ?</span>
                    </h2>
                </header>
                <h3 class="subheader">We aim to offer you fully operational courses</h3>
                <p>
                  All our training is provided by consultants and experts who have all had extended successful experience in the field, which allows them to provide training based on real life case studies.
                  Moreover, the educational material and teaching tools used for training are regularly updated so they’re relevant and take into account the technical, methodological and management advances and breakthroughs.
                </p>
                <p>
                  Events we can offer:
                </p>
                <ul>
                  <li>Benefit from the best training solutions and methods</li>
                  <li>Train your teams on specific skills</li>
                  <li>Improve your team’s agility</li>
                </ul>
            </article>

            <article id="myusi">
                <header>
                    <h2>
                      <span>Let us <br>organise</span>
                    </h2>
                </header>
                <h3 class="subheader">Need a corporate event for your business?</h3>
                <p>
                  We can help you to organise events for your teams, tailored to the specific needs of your business.
                </p>
                <ul>
                   <li>Major themes chosen and prepared in close collaboration with you beforehand</li>
                   <li>Small or large scale event</li>
                   <li>Format: meetings, debates, keynotes, plenaries...</li>
                   <li>Our experts and community are available if needed during your event</li>
                </ul>
            </article>
        </div>
    </section>
</div>
