---
layout: default
---
{% capture category_style %}
{% for category in site.training_category %}
#domains .domains #{{ category.id }} h2 {
    background-color: {{ category.color }};
}

#domains .domains #{{ category.id }} .trainings:before {
    border-left-color: {{ category.color }};
}

#domains .domains #{{ category.id }} .trainings li a:hover {
    color: {{ category.color }};
}

#domains .domains #{{ category.id }} .trainings span.label {
    background-color: {{ category.color }};
}
{% endfor %}
{% endcapture%}

<div style="display: none;">
    <style type="text/css">
    {{ category_style }}
    </style>
</div>
<div id="home">
    <section id="fresh-courses-and-quotes">
        <div>
            <div class="courses">
              <div class="start-now">
                <div><a href="#domains">Start Now</a></div>
                <div class="catch-phrase">
                  With great training comes great possibilities
                </div>
            </div>


            </div>
            <div class="quotes">
                <ul>
                    <li class="">
                        <div class="caption">
                            <blockquote>Nowadays, humans produce each year a volume of digital information equivalent to a zettabite. It's almost as much as the number of stars in the Universe</blockquote><cite>IDC</cite></div>
                    </li>
                    <li class="">
                        <div class="caption">
                            <blockquote>The only lasting competitive benefit is the ability to learn quicker than competition</blockquote><cite>Arie de Geus</cite></div>
                    </li>
                    <li class="current">
                        <div class="caption">
                            <blockquote>Every second day, we produce as much data as what was produced from the dawn of civilisation until 2003</blockquote><cite>Eric Schmidt, CEO Google</cite></div>
                    </li>
                    <li class="">
                        <div class="caption">
                            <blockquote>Knowledge is worthless when not put into practice</blockquote><cite>Heber J. Grant</cite></div>
                    </li>
                    <li class="">
                        <div class="caption">
                            <blockquote>People Who Feel Good About Themselves Produce Good Results</blockquote><cite>The One Minute Manager</cite></div>
                    </li>
                    <li class="">
                        <div class="caption">
                            <blockquote>We will make it in this world only thanks to our ability to learn</blockquote><cite>John B. Watson</cite></div>
                    </li>
                    <li class="">
                        <div class="caption">
                            <blockquote>The essence of knowledge is, once it's aquired, to use it.</blockquote><cite>Confucius</cite></div>

                    </li>
                    <li class="">
                        <div class="caption">
                            <blockquote><a data-analytics-action="click" data-analytics-category="quotes" href="http://www.octo.academy/fr/m/4">People’s behavior makes sense if you think about it in terms of their goals, needs, and motives</a></blockquote><cite>Thomas Mann</cite></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <article id="who-we-are">
            <header>
                <h1>Why OCTO ?</h1>
                <p>With digitalization we learn in many ways, everywhere and all the time.<br>At OCTO, we are always on the lookout for new ways of learning and new sources of inspiration to fulfil our mission: to help companies and their teams in their transformation projects.
                </p>
            </header>
        </article>
    </section>
    <div id="domains">
      <div class="domains">

          {% for category in site.training_category %}
            {% capture modulo %}{{ forloop.index0 | mod:4 }}{% endcapture %}
            {% if forloop.first %}
              <div class="has-3">
              {% endif %}
                <section id="{{ category.id }}">
                    <h2>{{ category.name }} </h2>
                    <ul class="trainings">
                      {% assign training_in_cat = site.training | where: "category", category.id | sort: 'best', 'last' %}
                      {% for training in training_in_cat %}
                      <li>
                        <a title="{{ training.title }}" href="{{ site.baseurl }}{{ training.url }}">
                          <span></span>
                          {% if training.best %} <span class="label">BEST</span> {% endif %}
                          {{ training.title }}
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                    {% if category.sub_category %}
                    <ul class="domains">
                      {% for sub_category in category.sub_category %}
                      <li>
                        <h3>
                          {{ sub_category.name }}
                        </h3>
                        <ul class="trainings">
                          {% assign training_in_cat = site.training | where: "category", sub_category.id | sort: 'best', 'last' %}
                          {% for training in training_in_cat %}
                          <li>
                            <a title="{{ training.title }}" href="{{ site.baseurl }}{{ training.url }}">
                              <span></span>
                              {% if training.best %} <span class="label">BEST</span> {% endif %}
                              {{ training.title }}
                            </a>
                          </li>
                          {% endfor %}
                        </ul>

                      </li>
                      {% endfor %}
                    </ul>
                    {% endif %}


                </section>
              {% if forloop.last %}
              </div>
            {% elsif modulo == 0 %}
              </div>
              <div class="has-3">
            {% endif %}

          {% endfor %}
      </div>
    </div>

    <section id="offers">
        <div>
            <article id="seminars">
                <header>
                    <h2>
                      <span>Get to <br> know us</span>
                    </h2>
                </header>
                <h3 class="subheader">IT Consulting and Outstanding Software</h3>
                <p>
                  OCTO Technology is an IT consulting company created in France in 1998. Our consultants assist our clients in the digital transformation of their businesses through technology, methodology, but also by deeply understanding their culture and the stakes of their business.
                  From startups to multinationals, OCTO gets involved wherever IT plays a decisive role in transforming companies and their people.
                </p>
                <p>
                  Our culture is made of an optimal balance between technology and interpersonal skills. It’s our culture that made OCTO become voted the Best place in France to work for 5 years in a row. OCTO Technology arrived in Australia in 2015 to expand and share this culture and expertise down under. Let us share our culture with you !
                </p>
            </article>
        </div>
    </section>

    <section class="intra">
        <article id="contact" class="contactus">
            <h2>
                Contact us
            </h2>
            <div class="call-to-action">
                <a  href="mailto:training@octo.com.au">training@octo.com.au</a>
            </div>
        </article>
    </section>
</div>
